version: "3.9"

services:
   sqlserver:
      image: mcr.microsoft.com/mssql/server:2022-latest
      container_name: secureapp-sqlserver
      restart: unless-stopped
      environment:
         ACCEPT_EULA: "Y"
         SA_PASSWORD: ${DB_PASSWORD}
      ports:
         - "14333:1433"
      volumes:
         - mssql_data:/var/opt/mssql

volumes:
   mssql_data:
